@font-face {
    font-family: Kurale;
    src: url('Polices/kurale/Kurale-Regular.ttf') format('truetype');
}



/* Rules for the grid */
body{ margin: 0; }
#container{
    display: grid;
    height: 100vh;
    transition: 1s ease-out;
}
.tile{
    position: relative; /*so that closebtn (absolute) can anchor to it*/
    overflow: hidden;
    transition: 1s ease-out;
}
#e1{ grid-column: 1/9;  grid-row: 1/5 }
#e2{ grid-column: 9/13; grid-row: 1/3 }
#e3{ grid-column: 1/5;  grid-row: 5/9 }
#e4{ grid-column: 5/9;  grid-row: 5/11 }
#e5{ grid-column: 9/13;  grid-row: 3/11 }
#e6{ grid-column: 1/5;  grid-row: 9/13 }
#e7{ grid-column: 5/10;  grid-row: 11/13 }
#e8{ grid-column: 10/13;  grid-row: 11/13 }
.closebtn{
    cursor: pointer;
    font-weight: bold;
    font-size: 4vh;/*2rem;*/
    padding: 2vh;/*1rem;*/
    opacity: 0.8;
}
.closebtndiv{
    position: absolute;
    width: 100%;
    text-align: right;
    opacity: 0;
    transition: 1s ease-out;
}
.timeline-container{ position: relative; margin: 1rem; }
.timeline{ list-style: none; padding: 0; }

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    margin-left: -3px;
}

.timeline li { /*float: left;*/ margin-bottom: 0.5rem; }
.timeline li img { position: absolute; z-index: 1; border: white 0.2rem solid; border-radius: 50%; }
.timeline li.smallimg img { width: 1rem; height: 1rem; left: -0.7rem; }
.timeline li.bigimg img   { width: 2rem; height: 2rem; left: -1.2rem; }
.timeline li.smallimg{ padding-left: 0.7rem; min-height: 1rem; }
.timeline li.bigimg{ padding-left: 1.2rem; min-height: 2rem; }
.commMessages{ position: absolute; top: 0; display: flex; width: 100%; height:100%; }
.commMessage{ text-align: center; width: 100%; min-width: 100%; position: relative; left:0%; transition: 0.5s ease-out;}
.commBoutons{ position: absolute; bottom: 0; display: flex; width: 100%; }
.commBouton{ flex: 1; text-align: center; }
.commBouton:nth-child(1), .commMessage:nth-child(1) { background-color: #15aaa5; }
.commBouton:nth-child(2), .commMessage:nth-child(2) { background-color: #15aa45; }
.commBouton:nth-child(3), .commMessage:nth-child(3) { background-color: #1ed617; }
.commBouton:nth-child(4), .commMessage:nth-child(4) { background-color: #7fff43; }
.langTile { position: absolute; top: 0; display: flex; width: 100%; height:100%; }
.commandButton { text-align: center; position: relative; transition: 0.5s ease-out;}
.langLabel { text-align: center; position: relative; transition: 0.5s ease-out; overflow: hidden; 
flex:0; min-width: 0; width:0;}
.commandButton:nth-child(2), .langLabel:nth-child(3) { background-color: #f0192b; }
.commandButton:nth-child(4), .langLabel:nth-child(5) { background-color: #af5aa5; }
.commandButton:nth-child(6), .langLabel:nth-child(7) { background-color: #df5a75; }
.commandButton:nth-child(8), .langLabel:nth-child(9) { background-color: #ffaaa5; }


/*
* {box-sizing: border-box;}
html, body {
  background: var(--main5);
  color: white;
  text-align: center;
  margin: 0;
}
#topbar-container{
    height: 3em;
    transition: height 0.25s ease;
}
.panel{
    display: none;
    padding: 30px;
    transition: 0.25s ease;
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    overflow-y: scroll;
}
.panel-close-btn {
    display: block;
    position: fixed;*/ /*originellement absolute*/
 /*   top: 0;
    right: 0;
    background: url("https://d33wubrfki0l68.cloudfront.net/76f58527ec5d5d9a37e516317e7086e70af13a56/3c965/lab/ctajs/img/close.png") no-repeat center;
    width: 32px;
    height: 32px;
    padding: 32px;
    opacity: 0.8;
    cursor: pointer;
    transition: 0.25s ease;
}
.panel-close-btn:hover {
    opacity: 1;
}
p, .content-wrap {
    max-width: 770px;
    margin: 0 auto;
}
p {
    font-size: 24px;
    margin: 0 auto 30px;
    padding: 0 40px;
}
h1, h2 { font-weight: bold; }
h2 {
    font-size: 40px;
    margin: 0;
}
a { color: #FFD200; }
a:hover { text-decoration: none; }
.disable-mouse {pointer-events: none;}
body.disable-scroll {overflow: hidden; height: 100%;}
.main-title {color: white; font-size: 100px;}
.btn, .tile {
    display: inline-block;
    text-decoration: none;
    padding: 16px;
    color: white;
    opacity: 0.85;
    cursor: pointer;
    transition: 0.25s ease;
}
.tile {
    width: 100%;
    float: left;
    height: 100px;
}
.tile-container {
    overflow: hidden;
}
.btn:hover,
.tile:hover {
    opacity: 1;
}


.panel-1, #tile-1 {background: var(--main1);}
.panel-2, #tile-2 {background: var(--main2);}
.panel-3, #tile-3 {background: var(--main3);}
.panel-4, #tile-4 {background: var(--main4);}




.fa{font-size: 1.5em;}

#pageTop {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 80px;
    background-color: var(--secondary1);
}


.domaineCompetence{
    background: var(--main2);
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
    display: inline-block;
}
.detailOutils{ text-align: left; margin: auto; }
.categorieOutils{ font-weight: bold; text-align: right; margin: auto;}
#competences .row {margin-top: 15px;}
.card-deck{ margin-left: 10%; margin-right: 10%;}
.imgLangue{ float:left; margin-right: 1.5rem; }
ul{ text-align: left; list-style: none; margin: 0px; }
.langue{ color: var(--secondary3); font-size: 2rem;}
.niveauLangue{ font-style: italic; color: var(--main2); }
.certifLangue{ color: rgba(0,0,0,0.4); font-size: smaller;}
.colLang{ margin-bottom: 25px;}
.card{background-color: rgba(153, 204, 0, 0.4); border: 1px solid rgba(153, 204, 0, 0.8); }
*/

/* Page projets */
/*#panneau-recherche,#panneau-programmes{margin: 0px 20%;}
.acces{text-align: center; padding-top: 3rem;}
.article, .programme{margin: 50px 0px;}
#presentationPanneauProgrammes{margin-top: 20px;}
.acces .btn{
    color: white;
    background-color: var(main5);
    margin: 2px;
    transition: background-color 0.8s;
}
.acces .btn:hover{background-color: var(--main4);}
.article h1{ font-family: serif; }
.resumeArticle{font-size: smaller}
.resumeProg{font-size: smaller}
*/



/* Images */
/*#drapeauLangue{
    max-width: 1.5rem;
}
#photoPortrait{
    width: 100%;
    border-radius: 50%;
    opacity: 0.8;
    max-width: 250px;
    align: left;
}
#logoNCTU,#logoTSE,#logoISM{
    width: 100%;
    max-width: 250px;
    shape-outside: circle(50%) margin-box;
    margin: 1rem;
}
#logoNCTU{float: left;}
#logoTSE, #logoISM{float: right;}
#logoISM{
    position: absolute;
    right: -145px;
}
#logoISMFantomeDroite,#logoISMFantomeGauche{
    width: 250px;
    height: 250px;
    margin: 1rem;
}
#logoISMFantomeDroite{ float: left;  shape-outside: circle(50% at 0 50%) margin-box;}
#logoISMFantomeGauche{ float: right; shape-outside: circle(50% at 100% 50%) margin-box;}
*/

/* top bar */
/*.topbar{
    background-color: var(--main5);
    color: var(--secondary3);
}
.topbar a {
    color: var(--white);
    transition: background-color 2s, color 2s;
}
.topbar a:hover {
    color: var(--secondary5);
    background-color: var(--main4);
}
.dropdown-menu , .topbar .dropdown-item {
    background-color: var(--main1);
    color: var(white);
}
.topbar .dropdown-item:hover{ color: var(--main2); background-color: var(--main3); transition: none;}
.nav-link{display: inline-block;}
*/



/* Tooltip elements from https://www.w3schools.com/css/css_tooltip.asp */
/*.infobulle {
    position: relative;
    display: inline-block;
}
.infobulle .texteInfobulle {
    visibility: hidden;
    text-align: center;
    border-radius: 6px;
    padding: 4px;
    position: absolute;
    z-index: 1;
    margin-top: 20px;
    margin-left: -60px;
    width: 120px;
}
.infobulle:hover .texteInfobulle {
    visibility: visible;
    opacity: 0.8;
    background-color: var(--main5);
    color: #fff;
}
*/

