

.scroll-section{
    padding-top:70px;
    padding-bottom:70px;
}

.topbar-nav-link{
    display:inline-block;
    line-height:1.3em;
    vertical-align:middle;
}

.navbar-nav .nav-item .sidenav-nav-link{
    padding: 10px 20px;
    font-size: 14px;
}

#main{
    position: relative;
    margin-left: 250px; /*Aussi dans le html, pour que toggleNav() fonctionne*/
    text-align: center;
}

@media screen and (max-width: 600px) {
    /* When the scrren width is below 600px */
    #sidenav{ display: none; }
    #open-sidenav{ display: none; }
    .fixed-top{ position: inherit; }
}

.topbar{
    background-color: var(--topbar-background);
    color: var(--topbar-color);
}
.topbar a { color: var(--topbar-color); }
.topbar a:hover{ color: var(--topbar-hover); }

/* footer */
footer {
    bottom: 0;
    background-color: var(--footer-background);
    color: var(--footer-color);
    padding: 50px 300px;
    text-align: center;
}
footer a {
    color: var(--footer-color);
    text-decoration: underline;
}
footer p {  margin-top: 30px;}
footer a:hover { color: var(--footer-hover); }
#iconeHautDePage { font-size: 56px; }
#hautDePage { font-size: 10px; }


/* Side Nav elements from w3schools.com/howto/howto_js_sidenav.asp */
/* Note pour plus tard: il faudra modifier .nav-link.active pour changer les couleurs */
.sidenav {
  height: 100%;
  width: 250px; /*Aussi dans le html, pour que toggleNav() fonctionne*/
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  padding-left: 0px;
  padding-right: 0px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  top: 0;
  right: 0px;
  font-size: 30px;
  margin-left: 70%;
  color: #818181;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
