body {
    font-family: sans-serif;
    color: #bbb;
    background-color: #333;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: tan;
}

#converter {
    margin: 2rem auto;
    width: max-content;
}

#explications {
    margin: 2rem auto;
    width: max(30rem,50%);
}

input {
    margin: 1rem;
}
